    {{ partial "footer.html" . }}

</body>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#menu-toggle").click(function() {
                $(".sidebar-links").toggleClass("hidden-xs")
            })

        });
    </script>

</html>
