<footer class="site-footer" style="display: none;">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="social-media-list">
          {{ if .Site.Params.Email }}
            <a href="mailto:{{ .Site.Params.Email }}">Email</a>
          {{ end }}

          {{ if .Site.Params.GitlabUser }}
            <a href="https://gitlab.com/{{ .Site.Params.GitlabUser }}">Gitlab</a>
          {{ end }}

          {{ if .Site.Params.TwitterUser }}
            <a href="https://twitter.com/{{ .Site.Params.TwitterUser }}">Twitter</a>
          {{ end }}
        </div>
      </div>

      <div class="footer-col footer-col-2">
        <p>Theme made for Hugo by <a href="https://zagortenej.gitlab.io/">zagortenej</a>.</p>
        <p>Code available on <a href="https://gitlab.com/zagortenej/captains-log">GitLab</a></p>
        <p>Original theme made by <a href="http://masha.space/">Masha Safina</a>. &#x1f596;</p>
      </div>
    </div>
  </div>
</footer>
