<header class="col-xs-12 col-sm-4 sidebar">

<div class="panel">

    <!-- .sidebar-header is used just to set different color for the header area -->
    <div class="sidebar-header">

    <div class="panel-heading">
        <a class="blog-title" href="#">
            DevZapp
            <div class="center-block" style="width: 150px;">
                <img class="img-responsive" src="{{ .Site.BaseURL }}img/logo.png">
            </div>
        </a>
        <p class="blog-tagline">
            Notes, doodles, bits and pieces
        </p>
    </div>

    <div class="panel-body text-center">
        <div class="btn-group social-icons" role="group" aria-label="Social Icons">
            <a role="button" class="btn" href="http://twitter.com" title="Twitter">&#x6b;</a>
            <a role="button" class="btn" href="http://facebook.com" title="Facebook">&#x6a;</a>
            <a role="button" class="btn" href="http://stackoverflow.com" title="stackoverflow">&#x73;</a>
            <a role="button" class="btn" href="http://localhost:4000/rss/" title="RSS">&#x76;</a>
        </div>
    </div>

    </div>

    <div class="btn-group btn-group-justified visible-xs-block" role="group">
        <div class="btn-group" role="group">
            <button id="menu-toggle" type="button" class="btn btn-default">
            Action <span class="glyphicon glyphicon-menu-hamburger pull-right"></span>
            </button>
        </div>
    </div>

    <div class="sidebar-links hidden-xs">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="{{ .Site.BaseURL }}">Home<span class="pull-right glyphicon glyphicon-link"></span></a></li>
            <li role="presentation"><a href="#">Categories<span class="pull-right glyphicon glyphicon-link"></span></a></li>
            <li role="presentation"><a href="#">Tags<span class="pull-right glyphicon glyphicon-link"></span></a></li>
            <li role="separator" class="divider"></li>
            <li role="presentation"><a href="#">About<span class="pull-right glyphicon glyphicon-link"></span></a></li>
        </ul>
    </div>
</div>

</header> <!-- /.sidebar -->
