<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <base href="{{ .Site.BaseURL }}">
    <title>{{ if .IsHome }} {{ .Site.Title }} {{ else }} {{ .Title }} {{ end }}</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,700|Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="canonical" href="{{ .Permalink }}">

    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else }}{{ .Summary }}{{ end }}">

{{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/monokai-sublime.min.css">

    <link href="{{ .Site.BaseURL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ .Site.BaseURL }}css/outlines.css" type="text/css" media="all"> -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/boot-style.css" type="text/css" media="all">

    <!-- site css last so we can override -->
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/site.css">


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
