    <div class="sidebar-links top-links">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Categories</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>Tags</a></li>
            <li role="presentation"><a href="#"><span class="glyphicon glyphicon-chevron-right"></span>About</a></li>
        </ul>
    </div>
