/* https://www.w3schools.com/cssref/css_selectors.asp */

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
/* font-family: 'Open Sans Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');
/* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Assistant:300');
/* font-family: 'Assistant', sans-serif; */

@font-face
{
	font-family: "simpletheme-icons";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/simpletheme-icons.eot");
	src: url("../fonts/simpletheme-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/simpletheme-icons.woff") format("woff"), url("../fonts/simpletheme-icons.ttf") format("truetype"), url("../fonts/simpletheme-icons.svg#simpletheme-icons") format("svg");
}


.social-icons a
{
    width: 3em;
    line-height: 2.2em;
    background: #6a7684;
    color: white;
    font-family: 'simpletheme-icons';
    font-size: 1.4em;
}
.social-icons a:hover
{
    background: #7c8793;
    line-height: 2.2em;
}


.sidebar
{
    background: #BF5413;
}
.sidebar .panel
{
    background: transparent;
    border: 0px;
    margin-bottom: 0px;
}

.sidebar-header
{
    background: #455466;
}

.page-content
{
	margin-top: 15px;
}

.sidebar
{
	padding: 0px;
}

#menu-toggle
{
	border: 0px;
	background: transparent;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ebcbb8;
}





.sidebar-links
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
}
.nav>li>a
{
    color: #ebcbb8;
    background-color: transparent;
}
.nav>li>a:hover
{
    color: white;
    background-color: transparent;
}

.blog-title
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #fafafa;
}
.blog-tagline
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #fafafa;
}



.btn-warning
{
    background-color: #BF5413;
    border-color: #BF5413;
}

.btn-primary
{
    background-color: #455466;
    border-color: #455466;
}





article.panel
{
    border: 0;
}
article.panel .panel-heading
{
    border: 0;
}
article.panel .panel-footer
{
    border: 0;
}

article .article-thumbnail {
    height: 16.39em;
    max-height:250px;
    width: 100%;
    margin-bottom:20px;
    overflow: hidden; 
}

article .article-thumbnail .image
{
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
}

article .article-body
{
    font-size: 1.5em;
}

article .article-meta
{
    font-style: italic;
    font-size: 1.2em;
    border-top: 0.5em solid #455466;
    padding-top: 0.5em;
    margin-bottom: 1em; 
}


/** code highlihgt */
/* remove <pre> padding */
pre > code
{
    margin: -9.5px;
}

.top-links
{
    background: #BF5413;
}
.top-links span.glyphicon-chevron-right
{
    padding-right: 30px;
}
