{{ partial "prologue.html" . }}

    <div class="container-fluid">

        <div class="row">

{{ partial "header.html" . }}

            <section class="col-xs-12 col-sm-8 page-content">

{{ .Content }}

            <!-- put whatever here, i.e. div.container-fluid with rows etc. -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

        {{ range first 10 .Data.Pages }}
        {{ if eq .Type "post"}}
                        <article class="panel panel-default" role="article" itemscope itemtype="http://schema.org/Article">
                            <div class="panel-heading">
                                <h2>{{ .Title }}</h2>
                            </div>
                            <div class="panel-body">
                            Page text
                            <span class="post-meta">{{ .Date.Format "January 02, 2006" }}</span>
                            </div>
                            <div class="panel-footer">
                               <a class="btn btn-warning" href="{{ .Permalink }}" role="button">Read more » </a>
                            </div>
                        </article>
        {{ end }}
        {{ end }}

                    </div>
                </div>
            </div>

            </section> <!-- /.page-content -->

        </div>



    </div> <!-- /.container-fluid -->


{{ partial "epilogue.html" . }}
