{{ partial "prologue.html" . }}

<div class="container-fluid">
    <div class="row">

{{ partial "top-links.html" . }}

        <div class="col-lg-12">

            <article class="panel panel-default" role="article" itemscope itemtype="http://schema.org/Article">
                <div class="panel-heading">
                    <h2>{{ .Title }}</h2>
                </div>
                <div class="panel-body">
{{ .Content }}
                </div>
                <div class="panel-footer">
                    <span class="label label-default">{{ .Date.Format "January 02, 2006" }}</span>
                </div>
            </article>

        </div>
    </div>
</div>

{{ partial "epilogue.html" . }}
